<h2>Hey {{user}}</h2>

{{#each posts}}
  <div>
    <span>{{User.dataValues.username}}: </span>
    <span>{{post}}</span>
    <p>{{posted}}</p>
    {{#if isCurrentUser}}
    <a class="btn btn-warning" href="/gabble/delete">Delete</a>
    <a class="btn btn-secondary" href="/gabble/edit">Edit</a>
    {{/if}}
    <a class="btn btn-primary" href="/gabble/{{id}}/like">Like</a>
  </div>
  <ul>
    <span>Likes: {{Likes.length}}</span>
    {{#each Likes}}
    <li>{{liker.username}}</li>
    {{/each}}
  </ul>
  <hr>

{{/each}}
